/* App.css */

body {
  background-image: url('https://darebee.com/images/nutrition/how-much-protein-do-we-need.jpg'); /* Replace 'background-image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type='text'] {
  width: calc(100% - 20px); /* Subtract padding from width */
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button.btn-outline {
  width: calc(50% - 5px); /* Subtract margin from width */
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
  margin-left: 10px;
}

.center {
  margin-top: 20px;
}

h3 {
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #555;
}
